@font-face {
    font-family: 'NovecentowideBoldBold';
    src: url('../fonts/novecentowide/novecentowide-bold-webfont.eot');
    src: url('../fonts/novecentowide/novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide/novecentowide-bold-webfont.woff') format('woff'),
         url('../fonts/novecentowide/novecentowide-bold-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide/novecentowide-bold-webfont.svg#NovecentowideBoldBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide/novecentowide-book-webfont.eot');
    src: url('../fonts/novecentowide/novecentowide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide/novecentowide-book-webfont.woff') format('woff'),
         url('../fonts/novecentowide/novecentowide-book-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide/novecentowide-book-webfont.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideDemiBoldRegular';
    src: url('../fonts/novecentowide/novecentowide-demibold-webfont.eot');
    src: url('../fonts/novecentowide/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide/novecentowide-demibold-webfont.woff') format('woff'),
         url('../fonts/novecentowide/novecentowide-demibold-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide/novecentowide-demibold-webfont.svg#NovecentowideDemiBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideLightRegular';
    src: url('../fonts/novecentowide/novecentowide-light-webfont.eot');
    src: url('../fonts/novecentowide/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide/novecentowide-light-webfont.woff') format('woff'),
         url('../fonts/novecentowide/novecentowide-light-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide/novecentowide-light-webfont.svg#NovecentowideLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideNormalRegular';
    src: url('../fonts/novecentowide/novecentowide-normal-webfont.eot');
    src: url('../fonts/novecentowide/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide/novecentowide-normal-webfont.woff') format('woff'),
         url('../fonts/novecentowide/novecentowide-normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide/novecentowide-normal-webfont.svg#NovecentowideNormalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
