@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/minionpro/minionpro-regular-webfont.eot');
    src: url('../fonts/minionpro/minionpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minionpro/minionpro-regular-webfont.woff') format('woff'),
         url('../fonts/minionpro/minionpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/minionpro/minionpro-regular-webfont.svg#MinionProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
