@font-face {
    font-family: 'MyriadproBold';
    src: url('../fonts/myriadpro/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadproCondBold';
    src: url('../fonts/myriadpro/myriadpro-boldcond-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-boldcond-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-boldcond-webfont.svg#MyriadProCondBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadproCondRegular';
    src: url('../fonts/myriadpro/myriadpro-cond-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-cond-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-cond-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-cond-webfont.svg#MyriadProCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadproItalic';
    src: url('../fonts/myriadpro/myriadpro-it_0-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-it_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-it_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-it_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-it_0-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadproRegular';
    src: url('../fonts/myriadpro/myriadpro-regular_0-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-regular_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-regular_0-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadproLightBold';
    src: url('../fonts/myriadpro/myriadpro-semibold_0-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-semibold_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-semibold_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-semibold_0-webfont.svg#MyriadProLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadproLightBoldItalic';
    src: url('../fonts/myriadpro/myriadpro-semiboldit-webfont.eot');
    src: url('../fonts/myriadpro/myriadpro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro-semiboldit-webfont.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro-semiboldit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro-semiboldit-webfont.svg#MyriadProLightBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
