/*********************
Font-size and line-height
*********************/
/* Please dont edit the next lines */
html {
font-size: 62.5%;
}

body {
font-size: 14px;		/* this is for old browsers */
font-size: 1.4rem;
}


/* Ok, now you can edit... */
@mixin font-size($sizeValue){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}




/*********************
COLORS
*********************/

// Theme-Color - here we define the basic-color of the theme

$white:		#fff;
$gray-5:	darken($white, 5%);		// F2F2F2
$gray-10:	darken($white, 10%);	// E6E6E6
$gray-15:	darken($white, 15%);	// D9D9D9
$gray-20:	darken($white, 20%);	// CCCCCC
$gray-25:	darken($white, 25%);	// BFBFBF
$gray-50:	darken($white, 50%);
$gray-75:	darken($white, 75%);
$black:		#000;

/*********************
BORDER RADIUS
*********************/

/* @include borderRadius(4px); */
@mixin borderRadius($radius: 4px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
   	     -o-border-radius: $radius;
	        border-radius: $radius;
}

/* @include borderTopRadius(4px); */
@mixin borderTopRadius($radius: 4px) {
	-webkit-border-top-right-radius: $radius;
     -webkit-border-top-left-radius: $radius;
	    -moz-border-radius-topright: $radius;
	     -moz-border-radius-topleft: $radius;
	        border-top-right-radius: $radius;
	         border-top-left-radius: $radius;
}

/*********************
BOX SHADOWS
*********************/

/* @include box-shadow(0 0 5px 5px #888); */
@mixin box-shadow ($shadow-1,
  $shadow-2: false, $shadow-3: false,
  $shadow-4: false, $shadow-5: false,
  $shadow-6: false, $shadow-7: false,
  $shadow-8: false, $shadow-9: false)
  {
    $full: compact($shadow-1, $shadow-2, $shadow-3, $shadow-4,
                   $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9);

          box-shadow: $full;
  -webkit-box-shadow: $full;
     -moz-box-shadow: $full;
      -ms-box-shadow: $full;
       -o-box-shadow: $full;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/

/* @include cssGradient; */
@mixin cssGradient($from: #fff, $to: #eee) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: -ms-linear-gradient(top, $from, $to);
	background-image: linear-gradient(top, $from, $to);
}

/* @include cssGradientInvert; */
@mixin cssGradientInvert($from: #eee, $to: #fff) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: -ms-linear-gradient(top, $from, $to);
	background-image: linear-gradient(top, $from, $to);
}


/* @include cssGradientDarker; */
@mixin cssGradientDarker($from: #fff, $to: #bfbfbf) {
  background-color: $to;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}


/*********************
BUTTONS
*********************/

input[type="submit"], .submit, .searchsubmit, .reset, input[type="submit"]:visited, .submit:visited, .searchsubmit:visited, .reset:visited {
	border: 1px solid $gray-25;
	border-top-color: $gray-20;
	border-left-color: $gray-20;
	padding: 1px 12px;
	display: inline-block;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255,255,255, .35);
	cursor: pointer;
	margin-bottom: 20px;
	@include borderRadius(4px);
	@include cssGradient($gray-5,$gray-15);
	@include box-shadow(0 0 1px 1px #333);



	&:hover, &:focus {
		text-decoration: underline;
		@include cssGradient($gray-15,$gray-10);
	}

	&:active {
		@include cssGradient($gray-15,$gray-10);
	}

}
